html{
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  html{ margin: -8px;}
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
    padding: 0px;
  }
  h1{
    text-align: center;
    font-size: 3rem;
    color: #1258ba ;
    margin-bottom: 32px;
    position: relative;
    z-index: 2;
  }

  .page{
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .page:before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-color: #aacdff;
    border-radius: 100%;
    top: -50vw;
    right: -50vw;
    z-index: -1;
  }

  .page:after{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-color: #2e83f9;
    border-radius: 100%;
    bottom: -50vw;
    left: -50vw;
    z-index: -1;
  }

  .container {
    padding: 36px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card{
    width: 20%;
    margin: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 18px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 17px;
    box-shadow: 0px 0.5px 1.5px rgba(0, 0, 0, 0.7);
    transition: all .4s;
  }

  .card:hover {
    box-shadow: 1px 1.5px 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
    z-index: 3;
  }

  .card > *{
    margin: 0;
    padding: 0;
  }
  
  span{
    color: gray;
  }
  
  .card-picture{
    margin-top: 10px;
    border: 5px solid white;
    border-radius: 50%;
    align-items: center;
  }

  @media screen and (max-width: 1200px){

    .card{
      width: 23%;
    }

  }

  @media screen and (max-width: 992px){

    .card{
      width: 48%;
    }

  }

  @media screen and (max-width: 768px){

    .card{
      width: 47%;
    }


  }

  @media screen and (max-width: 576px){

    .card{
      width: 100%;
    }

  }

  .btn-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    border: none;
    background-color: #5c9fff ;
    color: white;
    font-size: 24px;
    transition: all .4s;
    cursor: pointer;
  }
  .btn-delete:hover{
    width: 39px;
    height: 39px;
    right: 13px ;
    top: 12px ;
  }

  .btn{
    position: absolute;
    right: 15px;
    top: 14px;
  }

  .finderContainer{
    position: relative;
    margin: auto;
    width: 80%;
    
  }

  .search{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    margin: auto;
    padding-right: 40px;
  }

  .search-icon{
    position: absolute;
    top: calc(50% - 8px);
    right: 16px;

  }


  
